@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("../type/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  src: local("Inconsolata-Bold"), url("../type/Inconsolata-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("../type/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url("../type/Montserrat-Bold.ttf") format("truetype");
}